body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    min-height: 5rem;
    height: auto;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.search-btn {
    background-color: #fe424d !important;
    color: #ffffff !important;
    border-radius: 1.5rem !important;
    padding: 0 1rem 0 1rem !important;
  }
  .search-btn:hover {
    background-color: #fe424d !important;
    color: #ffffff !important;
  }
  .search-btn i {
    display: inline !important;
    margin-right: 0.5rem !important;
  }
  .search-inp {
    border-radius: 25px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important; 
    font-size: 1rem !important;
  }

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    /* vertical-align: middle; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info {
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    align-items: space-evenly;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.1;
    background-color: #ffffff;
}

/* New and Edit Page  */
.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    width: 5rem;
}

/* Show Page  */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map  */
#map {
    height: 50vh;
    width: 42vw;
}

@media (max-width: 768px) {
    #map {
        width: 92vw;
    }

    .card {
        margin-left: 0% !important;
        width: 100% !important;
    }

    .map {
        margin-left: 0% !important;
    }

    .name {
        margin-left: 0 !important;
    }

    .msg {
        margin-left: 0 !important;
        width: 100% !important;
    }
}

@media (max-width: 375px) {
    .form-contnr {
        margin-left: 5% !important;
        width: 90% !important;
    }
}